@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}
  
::-webkit-scrollbar-thumb {
    @apply bg-gray-400 hover:bg-green-500;
    border-radius: 100vw;
}

@layer base {
    html {
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    }
}

@layer components {
    .input {
        @apply block w-full px-5 py-3 rounded-xl border focus:outline-none border-gray-300 focus:border-green-400;
    }
}